node_modules
*.tiled-session
*.tiled-session
games/Phaser-Snake-Game/src-tauri
.DS_Store
games/Phaser-Snake-Game/public/assets/sprites/portalAnimHighlight.pxi
*/Project File Backups/*
/games/Phaser-Snake-Game/public/assets/music/project-files/let-132.logicx/Alternatives/000/Project File Backups
/games/Phaser-Snake-Game/public/assets/music/project-files/let-164.logicx/Alternatives/000/Project File Backups
/games/Phaser-Snake-Game/public/assets/music/project-files/let-184.logicx/Alternatives/000/Project File Backups
/games/Phaser-Snake-Game/public/assets/music/project-files/let-124.logicx/Alternatives/000/Project File Backups
/games/Phaser-Snake-Game/public/assets/Tiled/SnakeTiled.tiled-session
