node_modules
*.tiled-session
*.tiled-session
games/Phaser-Snake-Game/src-tauri
.DS_Store
games/Phaser-Snake-Game/public/assets/sprites/portalAnimHighlight.pxi
*/Project File Backups/*
/games/Phaser-Snake-Game/public/assets/music/project-files/let-132.logicx/Alternatives/000/Project File Backups
/games/Phaser-Snake-Game/public/assets/music/project-files/let-164.logicx/Alternatives/000/Project File Backups
/games/Phaser-Snake-Game/public/assets/music/project-files/let-184.logicx/Alternatives/000/Project File Backups
/games/Phaser-Snake-Game/public/assets/music/project-files/let-124.logicx/Alternatives/000/Project File Backups
/games/Phaser-Snake-Game/public/assets/Tiled/SnakeTiled.tiled-session
/games/Phaser-Snake-Game/public/assets/music/project-files/let-124.logicx/Alternatives/000/Autosave
/games/Phaser-Snake-Game/public/assets/music/project-files/let-128.logicx/Alternatives/000/Autosave
/games/Phaser-Snake-Game/public/assets/music/project-files/let-128.logicx/Alternatives/000/Project File Backups
/games/Phaser-Snake-Game/public/assets/music/project-files/let-123.logicx/Alternatives/000/Project File Backups
/games/Phaser-Snake-Game/public/assets/music/project-files/Let-126 9-07 18.47.logicx/Alternatives/000/Project File Backups
games/Phaser-Snake-Game/public/assets/music/project-files/let-123.logicx/Alternatives/000/WindowImage.jpg
/games/Phaser-Snake-Game/public/assets/music/project-files/let-139.logicx/Alternatives/000/Project File Backups
/games/Phaser-Snake-Game/public/assets/music/project-files/let-149.logicx/Alternatives/000/Project File Backups
games/Phaser-Snake-Game/public/assets/music/project-files/let-154.logicx/Alternatives/000/WindowImage.jpg
games/Phaser-Snake-Game/public/assets/music/project-files/let-155.logicx/Alternatives/000/WindowImage.jpg
games/Phaser-Snake-Game/public/assets/music/project-files/let-159.logicx/Alternatives/000/WindowImage.jpg
games/Phaser-Snake-Game/public/assets/music/project-files/let-161.logicx/Alternatives/000/WindowImage.jpg
games/Phaser-Snake-Game/public/assets/music/project-files/let-164.logicx/Alternatives/000/WindowImage.jpg
games/Phaser-Snake-Game/public/assets/music/project-files/let-172.logicx/Alternatives/000/WindowImage.jpg
games/Phaser-Snake-Game/public/assets/music/project-files/let-174.logicx/Alternatives/000/WindowImage.jpg
games/Phaser-Snake-Game/public/assets/music/project-files/let-175.logicx/Alternatives/000/WindowImage.jpg
games/Phaser-Snake-Game/public/assets/music/project-files/let-176.logicx/Alternatives/000/WindowImage.jpg
games/Phaser-Snake-Game/public/assets/music/project-files/let-177.logicx/Alternatives/000/WindowImage.jpg
games/Phaser-Snake-Game/public/assets/music/project-files/let-182.logicx/Alternatives/000/WindowImage.jpg
games/Phaser-Snake-Game/public/assets/music/project-files/let-184.logicx/Alternatives/000/WindowImage.jpg
/games/Phaser-Snake-Game/public/assets/music/project-files/let-138.logicx/Alternatives/000/Project File Backups
/games/Phaser-Snake-Game/public/assets/music/project-files/let-143.logicx/Alternatives/000/Project File Backups
/games/Phaser-Snake-Game/public/assets/music/project-files/let-154.logicx/Alternatives/000/Autosave
/games/Phaser-Snake-Game/public/assets/music/project-files/let-154.logicx/Alternatives/000/Project File Backups
/games/Phaser-Snake-Game/public/assets/music/project-files/let-155.logicx/Alternatives/000/Project File Backups
/games/Phaser-Snake-Game/public/assets/music/project-files/let-159.logicx/Alternatives/000/Project File Backups
/games/Phaser-Snake-Game/public/assets/music/project-files/let-161.logicx/Alternatives/000/Project File Backups
/games/Phaser-Snake-Game/public/assets/music/project-files/let-172.logicx/Alternatives/000/Project File Backups
/games/Phaser-Snake-Game/public/assets/music/project-files/let-174.logicx/Alternatives/000/Project File Backups
/games/Phaser-Snake-Game/public/assets/music/project-files/let-175.logicx/Alternatives/000/Project File Backups
/games/Phaser-Snake-Game/public/assets/music/project-files/let-176.logicx/Alternatives/000/Project File Backups
/games/Phaser-Snake-Game/public/assets/music/project-files/let-177.logicx/Alternatives/000/Project File Backups
/games/Phaser-Snake-Game/public/assets/music/project-files/let-182.logicx/Alternatives/000/Project File Backups
/games/Phaser-Snake-Game/public/assets/music/project-files/let-184.logicx/Alternatives/000/Autosave
